* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-bottom: 12px;
}

body {
  font-family: Calibri, Arial, sans-serif;
  font-size: 1.5rem;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header__wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__block {
  width: 20%;
}

.header__logo {
  display: flex;
}

.header__logo img {
  height: 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  white-space: nowrap;
  margin-right: 20px;
}

/* header end */

/* intro start */

#intro {
  margin-top: 100px;
}

.intro__content {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.intro__block img {
  max-width: 100%;
}
/* intro end */

/* partner */

.partner__content {
  height: auto;
  margin-bottom: 50px;
}

.partner__block {
  margin-bottom: 20px;
}
.sample-slider {
  padding-top: 15px;
  width: 100%;
}
.sample-slider img {
  width: 200px;
}

.swiper-slide {
  /* flex-shrink: 1; */
}

.sample-slider .swiper-wrapper {
  transition-timing-function: linear;
}

/* partner end */

/* footer */
.footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__wrapper {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* footer end */
@media (min-width: 720px) {
  .intro__block {
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .burger {
    margin-top: 15px;
    width: 32px;
    height: 24px;
    cursor: pointer;
    right: 2rem;
    top: 2rem;
    z-index: 20;
    float: right;
  }

  .burger span {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 12px;
    display: block;
    transition: background-color 0.5s ease-in-out;
  }

  .burger span::before,
  .burger span::after {
    content: '';
    width: 100%;
    background-color: black;
    display: block;
    transition: all 0.5s ease-in-out;
    border-radius: 12px;
    height: 4px;
  }

  .burger span::before {
    transform: translateY(-10px);
  }

  .burger span::after {
    transform: translateY(10px);
    margin-top: -4px;
  }

  .burger.active span {
    background-color: transparent;
  }

  .burger.active span::before {
    transform: rotateZ(45deg) translateY(0);
  }

  .burger.active span::after {
    transform: rotateZ(-45deg) translateY(0);
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: block;
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 150px;
    right: -100px;
    background: rgba(245, 245, 245, 0.94);
    -webkit-font-smoothing: antialiased;
  }

  .nav__link {
    display: block;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 10px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .intro__content {
    height: auto;
    display: flex;
    align-items: unset;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .intro__block {
    margin-bottom: 10px;
  }
}
